{
  "parser": "babel-eslint",
  "extends": [
    "eslint-config-casumo",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "plugins": [
    "redux-saga",
    "react",
    "jsx-a11y",
    "jest"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "space-before-function-paren": 0,
    "template-tag-spacing": 0,
    "operator-linebreak": 0
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack/dev.config.js"
      }
    }
  }
}
